body {
    background: rgba(123, 188, 245, 0.493);
}
h1{
    text-align: center;
    color: #A72727;
}
canvas {
    margin-left: 450px;
    background-image: url("wp11148293-2d-game-wallpapers\ \(1\).png");
}